
<!-- About -->
<div id="about" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About The Team</h2>
                <p class="p-heading p-large">Meat our team of developers which will help you solve problems about this website</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="../assets/images/team-member-1.svg" alt="alternative">
                    </div> <!-- end of image-wrapper -->
                    <p class="p-large"><strong>Wibu ẩn danh</strong></p>
                    <p class="job-title">Just a pure wibu!</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x facebook"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x twitter"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span> <!-- end of social-icons -->
                </div> <!-- end of team-member -->
                <!-- end of team member -->
  
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="../assets/images/team-member-2.svg" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large"><strong>Web developer 91</strong></p>
                    <p class="job-title">nguyentrung_th</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x facebook"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x twitter"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span> <!-- end of social-icons -->
                </div> <!-- end of team-member -->
                <!-- end of team member -->
  
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="../assets/images/team-member-3.svg" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large"><strong>Leader</strong></p>
                    <p class="job-title">Vương Trần</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x facebook"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x twitter"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span> <!-- end of social-icons -->
                </div> <!-- end of team-member -->
                <!-- end of team member -->
  
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="../assets/images/team-member-4.svg" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large"><strong></strong></p>
                    <p class="job-title"></p>
                    
                </div> <!-- end of team-member -->
                <!-- end of team member -->
  
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-4 -->
  <!-- end of about -->
