<!-- Services -->
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Thu được những kết quả hữu ích với bạn</h2>
                <p class="p-heading p-large">Những gì chúng tôi mang lại sẽ không làm phí sự kỳ vọng và số tiền bạn bỏ ra</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
  
                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="../assets/images/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">TĂNG LƯỢNG KHÁCH HÀNG LIÊN HỆ</h4>
                        <p>Our team of enthusiastic marketers will analyse and evaluate how your company stacks against the closest competitors</p>
                    </div>
                </div>
                <!-- end of card -->
  
                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="../assets/images/services-icon-2.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">TĂNG DOANH THU</h4>
                        <p>Once the market analysis process is completed our staff will search for opportunities that are in reach</p>
                    </div>
                </div>
                <!-- end of card -->
  
                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="../assets/images/services-icon-3.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">THÚC ĐẨY LƯỢT TRUY CẬP VÀO TRANG WEB</h4>
                        <p>With all the information in place you will be presented with an action plan that your company needs to follow</p>
                    </div>
                </div>
                <!-- end of card -->
                
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of cards-1 -->
  <!-- end of services -->
  