<!-- Header -->
<header id="header" class="header">
    <app-navigation></app-navigation>
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1><span class="turquoise">Startup with Wibu Ads</span><br/>Bạn đang muốn quảng cáo trang web của mình. Hãy đến với chúng tôi</h1>
                        <p class="p-large">Hiển thị quảng cáo cho khách hàng khi họ đang tìm kiếm các doanh nghiệp giống như doanh nghiệp của bạn trên Google Tìm kiếm và Maps. Bạn chỉ trả tiền khi quảng cáo mang lại kết quả, chẳng hạn như khi khách hàng nhấp vào quảng cáo để tới trang web hoặc khách hàng liên hệ với bạn.</p>
                        <a class="btn-solid-lg page-scroll" href="#services">Bắt đầu</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="../assets/images/header-teamwork.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
  </header> <!-- end of header -->
  <!-- end of header -->